<header>
    <div id="banner"></div>
    <div id="header-outer" class="outer"></div>
      <div id="header-inner" class="inner">
          <nav id="main-nav">
              <a class="main-nav-link" href="https://news.sciencenet.cn/"></a>
              <a class="main-nav-link" href="https://news.sciencenet.cn/"></a>
              <a class="main-nav-link" href="https://news.sciencenet.cn/"></a>
          </nav>
            <div class="d1">
                <form method="get" action="/search/">
                    <input type="text" name="q" placeholder="搜索">

                </form>
            </div>
      </div>
    </div>
</header>